.card {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 3em 1.5em 2em;
}

.characteristicBlock {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
}
@media (max-width: 767px) {
    .block {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }
    .characteristicBlock {
        grid-template-columns: 1fr;
        margin-top: 0;
        last-child {
            display: none;
        }
    }
}
