.container {
    margin-bottom: 2em;
}

.title {
    margin-top: 1em;
    font-size: 1em;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.btn {
    position: relative;
    border: none;
    color: #777;
    background-color: rgba(#000000, 0);
    padding: 0;
    line-height: 0;
}

.descriptionBtn {
    position: relative;
    border: none;
    color: #777;
    background-color: rgba(#000000, 0);
    padding: 0;
    line-height: 0;
}

@media (max-width: 767px) {
    .container {
        display: none;
    }
}