.block {
    display: grid;
    grid-template-columns: auto 1fr;
}
.priceBlock {
    display: flex;
    flex-direction: column;
}
.mainPrice {
    font-size: 2em;
}
.button {
    justify-self: end;
    border: none;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(90deg, rgb(11, 112, 28) 0%, rgb(4, 253, 83) 100%);
    font-weight: 400;
    width: 12em;
    height: 4em;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.green {
    color: #38be38;
}

@media (max-width: 767px) {
    .extraPrice {
        display: none;
    }
    .block {
        grid-template-columns: 1fr;
    }
    .button {
        align-self: end;
    }
}
