.container {
    margin: 2em;
}
.input {
    padding: 0.5em;
    background-color: #111;
    color: #999;
}
.btn {
    cursor: pointer;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    background-color: #111;
    color: #999;
    border: none;
    margin-left: 2em;
}

@media (max-width: 767px) {
    .container {
        margin: 2em 2em 1em;
    }
}