.pagesBlock {
    display: flex;
    margin: 0 2em;
}
.btn {
    cursor: pointer;
    height: 2em;
    width: 2em;
    margin: 0 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #111;
    color: #999;
}